/*
 * Global constants goes here
 */
:root {
    --primary-color: #42b983;
}


/*
 * Global CSS goes here, it requires to use :global before each style
 */
:global html {
    height: 100%;
}
:global body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
}